.trlv__cards-card{
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    max-width: 475px;
    
}

.trvl__cards-card_link{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 10px;
    overflow: hidden;
}


.trlv__cards-card_image{
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.trlv__cards-card_image::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}




.trlv__cards-card_image img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;
}


.trlv__cards-card_image img:hover{
    transform: rotate(-5deg) scale(1.5) ;
}


.trlv__cards-card_content{
    padding: 20px 12px 30px;
}

.trlv__cards-card_content h5{
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1040px ) {
    .trlv__cards-card_content{
        padding: 10px ;
    }
    .trlv__cards-card_content h5{
        font-size: 16px;
        
    }
}


@media screen and (max-width: 790px ) {
    

    .trlv__cards-card_content h5{
        font-size: 12px;
        line-height: 18px;
    }

    .trlv__cards-card_image::after {
        font-weight: 500;
        padding: 3px 6px;
    }
}